body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

dl dt {
    margin-top: 1em;
    font-weight: bold;
}

dl dd {
    margin: 0.1em 0 0 0;
}

.header-nav {
    background-color: black;
    margin: 0 -8px 0 -8px;
}

.header {
    padding: 1.85em 0.6em 0.5em 3em;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1060px;
    height: 99px;
}

.header ul {
    float: right;
    margin-top: 9px;
}

.header ul li {
    display: inline-block;
    list-style: none;
    padding: 0 0 0 1em;
    vertical-align: middle;
}

.header .ms-Button,
.header a {
    color: white !important;
}

.header a:hover,
.header .ms-Button:hover {
    color: #0078d7 !important;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.logo {
    height: 50px;
    width: 160px;
}
